In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
datapath = f'/content/drive/My Drive/data/realest.csv'
data = pd.read_csv(datapath)
data.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

## Statistics

In [ ]:
tax = pd.DataFrame(data.loc[(data.Bedroom == 4) & (data.Bathroom == 2), 'Tax'])

In [ ]:
tax.describe()

              Tax
count   10.000000
mean   791.200000
std    190.376703
min    554.000000
25%    583.500000
50%    890.000000
75%    955.250000
max    975.000000

In [ ]:
stats = []
stats.append(tax.describe().loc['mean', 'Tax'])
stats.append(tax.describe().loc['std', 'Tax'])
stats.append(tax.describe().loc['50%', 'Tax'])
stats.append(tax.describe().loc['min', 'Tax'])
stats.append(tax.describe().loc['max', 'Tax'])

In [ ]:
stats

[791.2, 190.37670258959966, 890.0, 554.0, 975.0]

In [ ]:
data800 = pd.DataFrame(data.loc[data.Space > 800, :]).sort_values(by=['Price'], ascending=False)

In [ ]:
fourth_fifth = data['Lot'].quantile(4/5)

In [ ]:
count = len(data.loc[data['Lot'] >= fourth_fifth, 'Lot'])

In [ ]:
count

33

## Regression

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
X = data.drop('Price', axis=1)
y = data['Price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
model.score(X_test, y_test)

0.7055731893781199

In [ ]:
keys = ['Intercept']
for col in X.columns:
  keys.append(col)

values = [model.intercept_] + list(model.coef_)

In [ ]:
model_parameters = {}
for key, value in zip(keys, values):
  model_parameters[key] = value

In [ ]:
model_parameters

{'Intercept': 19.173066967810804,
 'Bedroom': -3.3066420343284797,
 'Space': 0.010271276270353798,
 'Room': 1.8221493095152783,
 'Lot': 0.24676746581264256,
 'Tax': 0.0036785790257928453,
 'Bathroom': 6.018462076312774,
 'Garage': 4.481927432252846,
 'Condition': 2.053621054206382}

In [ ]:
X.head()

   Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [ ]:
variables = [[3, 1500, 8, 40, 1000, 2, 1, 0]]
price = model.predict(variables)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
price[0]

69.30537898965522